/*header  img{
    border: 2px solid  rgb(27, 26, 26);
    padding 2px;
}*/
h1{
    color:rgb(20, 102, 74);
}
h2{
    color: rgb(1, 8, 11);
}
body{
    background-color: rgb(203, 232, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}